.index {
    background-image: url("/img/tape.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    position: relative;
    height: 100vh;
}

.index-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.big-words {
    color: #DB2A27;
    font-size: 70px;
    line-height: 75px;
   
}

.news {
    background-color: #eef0f4;
}

.news-banner {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DB2A27;
    padding: 15px;
}


.news-title {
    color: #eee;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
}

.news-container {  
    padding: 15px;
    padding-top: 50px;
}

.news-item {
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 6px;
}

.news-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    
}

.news-item h2 {
    color: #DB2A27;
    font-size: 25px;
    text-transform: uppercase;
}

.news-item h3 {
    color: #56575d;
    font-size: 16px;
    position: relative;
}

.news-item h3::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 5px;
    right: 0px;
    background-image: url('/img/chevron-right.svg');
    background-repeat: no-repeat;

}

.news-item p {
    color: #56575d;
    font-size: 16px;
}

.accordion {
    cursor: pointer;
    padding: 15px;

}

.news-text {
    display: none;
}

.accordion-opened .news-text {
    display: block;
}

@media (min-width: 720px) {
    /*#index {
        background-image: url("/img/tape.png");
        background-repeat: no-repeat;
        background-position: 40% 0%;
        position: relative;
        height: 100vh;
    }*/
    
    .news-container {
        display: flex;
        justify-content: space-around;
        padding: 50px;
        flex-wrap: wrap;
    }

    .news-item {
        display: flex;
        margin-bottom: 20px;
        padding-right: 30px;
        border: none;

    }

    .news-item img {
        width: 300px;
        height: 100%;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        margin-right: 50px;
    }

    .news-text {
        display: block;
        margin-top: 20px;
    }

    .accordion {
        width: 50%;

    }

    .accordion h3{
       display: none;
    }
    
}  

@media (min-width: 1240px) {
    .accordion {
        padding-top: 30px;
        padding-bottom: 30px;
    
    }

    .news-container {   
    padding-left: 150px;
    padding-right: 150px;
    }

    .news-item {
        width: 70%;
        padding-right: 30px;
    }
}