.index {
    background-image: url("/img/tape.png");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    position: relative;
    height: 100vh;
}

.index-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.big-words {
    color: #dc2212;
    font-size: 70px;
    line-height: 75px;
   
}

.news-banner {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dc2212;
    padding: 15px;
}


.news-title {
    color: #eee;
    font-size: 50px;
    line-height: 55px;
    text-transform: uppercase;
}

.news-container {
    padding: 15px;
}

.news-item {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    padding-top: 15px;
    padding-bottom: 15px;
}

.news-item img {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    object-fit: cover;
    
}

.news-item h2 {
    color: #56575d;
    font-size: 25px;
    text-transform: uppercase;
}

.news-item h3 {
    color: #56575d;
    font-size: 16px;
    position: relative;
}

.news-item h3::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    top: 5px;
    right: 0px;
    background-image: url('/img/chevron-right.svg');
    background-repeat: no-repeat;

}

.news-item p {
    color: #56575d;
    font-size: 16px;
}

.accordion {
    cursor: pointer;
}

.news-text {
    display: none;
}

.accordion-opened .news-text {
    display: block;
}

@media (min-width: 720px) {
    /*#index {
        background-image: url("/img/tape.png");
        background-repeat: no-repeat;
        background-position: 40% 0%;
        position: relative;
        height: 100vh;
    }*/
    
    .news-container {
        display: flex;
        justify-content: space-around;
        padding: 50px;
        flex-wrap: wrap;
    }

    .news-item {
        /*max-width: 400px;*/
        display: flex;
        margin-bottom: 60px;
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: space-between;
        border: none;

    }

    .news-item:nth-child(even) {
        flex-direction: row-reverse;
      }


      .news-item:nth-child(odd) img {
        margin-right: 15px;
        margin-left: 0;
      }


      .new-item:nth-child(even) img {
        margin-left: 15px;
        margin-right: 0;
      }
    

    .news-item img {
        width: 300px;
        height: 300px;
        margin-top: 10px;
        margin-bottom: 10px;     
    }

    .news-text {
        display: block;
        margin-top: 40px;
    }

    .accordion {
        width: 50%;
    }

    .accordion h3{
       display: none;
    }
    
}  

@media (min-width: 1240px) {

    .news-container {   
    padding-left: 150px;
    padding-right: 150px;
    }


    .news-item img {
        width: 500px;
        height: 500px;     
    }
}