{% assign current_page = 'news' %}
{% include head.html %}

<div id="news">
    <div class="news-banner">
        <h1 class="news-title">
         News and Events
        <h1>
        </div>
            <div class="news-container">
                {% for news in page.news %}
                <div class="news-item">
                    <h2>{news.title}</h2>
                    <img src="/img/img.jpeg" alt="news img">
                    <h3>Text text</h3>
                    <p>{news.text}</p>
                </div>
                {%endfor%}
            </div>
</div>